*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'playfair Display', serif;
   font-weight: bold;
}
body{
    background-color: #bbc6fa;
}
.quote-box{
    background-color: #fff;
    width: 700px;
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%,-50%);
    text-align: center;
    /* border: 5px solid black; */
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
}
.quote-box h2{
    font-size: 32px;
    margin: 42px;
    position: relative;
}
.quote-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box blockquote{
        font-size: 26px;
        min-height: 110px;
}
.quote-box blockquote::before, .quote-box  blockquote::after{
    content: '"';

} 
.buttons{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}
 button{ 
      
        padding: 10px;
        margin: 10px;
        background-color: aqua;
        width: 100px;
        padding: 5px;
        height: 40px;
    
            
} 


button img{
   
    height: 18px;
    width: 13px;
    margin-right: 4px;
    /* margin-top: 10px; */
    align-items: center;
    justify-content: center;
    padding-top: 7px;
   
   
    
   
}